{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Mon espace Perso</h1>
    <p>Bienvenue dans votre espace personnel <strong>{{ app.user.firstname }}</strong> </p>
</div>
{% endblock %}
